#newForumCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-md
    .modal-content
      // Modal Header
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title New topic
      // Modal Body
      .modal-body
        .row
          .col-md-12
            label Title
            input.form-control.typeahead.tt-input(
              type="text" 
              name="src" 
              placeholder="Name of the topic" 
              autocomplete="off" 
              spellcheck="false" 
              dir="auto" 
              style="position: relative; vertical-align: top; background-color: transparent;"
              ng-model="topic.title"
              )
            br
            label Description
            .fancy-form
              // textarea
              textarea.form-control.word-count(
                rows='5',
                data-maxlength='200',
                data-info='textarea-words-info', 
                placeholder='Category description...'
                ng-model="topic.content"
              )
              span.fancy-hint.size-11.text-muted
                strong Hint:
                |  200 words allowed!
                span.pull-right
                  span#textarea-words-info 0/200
                  |  Words
            br


      // Modal Footer
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary(type='button', data-dismiss='modal', ng-click="newHilo()") New topic
